ansible==10.7.0
ansible-core==2.17.14
cffi==2.0.0
cryptography==46.0.5
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pycparser==3.0
PyYAML==6.0.3
resolvelib==1.0.1
truenas_api_client @ git+https://github.com/truenas/api_client.git@8c59978c3bf6c4e38271363907ec46e9b7f10abf
websocket-client==1.9.0
